<html>

<head>
  <title>🫡</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>
  

  <%- include('navigation.ejs', {}) %>


  <div class="homecontainer">
    
    <div class="imageBackground">
        <img src="../images/hunt_education.jpeg">
    </div>
    <div id="greyImage" class="imagecover">
        <img src="../images/grey.png">
    </div>
    <div class="navigation">
        <div class="text">
            <h1>Education</h1>
          
        </div>
    
    </div>
 </div>



    <div class="app-container">

      <!-- link to publications and legislation -->
     
     
      <div class="fourbuttons">
        <div class="fourButtonsRow">
        <div class="fourbuttonbutton">
          <a href="/project3/education/wra"><button class="fourbuttonbuttonbutton"><h4>WRA</h4></button></a>
        </div>
        <div class="fourbuttonbutton">
          <a href="/project3/education/sustainability"><button class="fourbuttonbuttonbutton"><h4>Sustainability</h4></button></a>
          
        </div>
      
        </div>
       
          </div>
        
       


      <br>
      <h1>Wildlife - Species</h1>
      <h3 class="header">Related Links</h3>

      <p><a href="https://www.dnr.sc.gov/wildlife/turkey/sound/turkeysound_index.html">Wild Turkey Sounds</a></p>
      <p><a href="http://www.nwtf.org/">National Wild Turkey Federation</a></p>
      <p><a href="../index.html" class="last">Back to ACE Species Gallery</a></p>


      <h2>Species Specific Regulations</h2>
      <h3>Eastern Wild Turkey</h3>
      <p><strong>Licenses:</strong> Hunting License required. </p>
      <!-- link to regulations.ejs -->
      <p><strong>Limits:</strong> Weapon <a
          href="http://www.eregulations.com/southcarolina/huntingandfishing/turkey-regulations/">restrictions according
          to game zones</a>, please check for Limitations.</p>
      <!-- link to index.ejs -->
      <p><a href="https://www.dnr.sc.gov/wildlife/turkey/index.html">Wild Turkey General Information</a></p>
      <p><a href="https://www.dnr.sc.gov/hunting/huntapp.html">Public Lottery Hunts</a></p>
      <p><a href="http://www.eregulations.com/southcarolina/huntingandfishing/turkey-regulations/">Complete Turkey
          hunting regulations</a></p>
      <p><a href="https://www.dnr.sc.gov/wildlife/turkey/volunbroodsurvey.html">Turkey Brood Survey</a></p>


      <img src="https://www.dnr.sc.gov/wildlife/turkey/images/turkeya.jpg" title="Turkey with wings extended" border="0"
        style="width:18.250em;"><br>

      <h2>(Meleagris gallopavo silvestris)</h2>

      <h3>Description</h3>

      <p>Like other birds of the family Phasianidae, eastern wild turkeys are equipped with long, thick legs, large toes
        for walking and scratching, and a relatively short bill. Wild turkeys are unmistakable in their appearance.
        Males have dark iridescent plumage, bare heads and necks with blue and pink streaks, fan-shaped tails tipped
        with chestnut, and black-barred flight feathers. Male turkeys (gobblers) also have spurs and a "beard," a tuft
        of thick, hair-like feathers that protrude out of the animal's breast. Female turkeys look much like their
        counterparts but lack the spurs, and most do not have a "beard." The eastern wild turkey is North America's
        largest gamebird. Adults weigh between 5.5-11 kilograms (12-25 pounds) and can reach a length of 91 cm (36
        inches) for females to 122 cm (48 inches) for males. Wild turkeys differ from domestic turkeys in that they are
        less stocky and the head is more tinged with blue.</p>





      <h3>Preferred Habitat and Biology</h3>

      <p>Like their name implies, eastern wild turkeys occur throughout the eastern United States. They inhabit mature
        deciduous forests and
        open woodlands as far north as New England. The species has also been introduced to California and other western
        states. Eastern wild
        turkeys are found throughout South Carolina, including the ACE Basin. They occur in a variety of habitat types,
        preferring mixed
        pine/hardwood stands interspersed with fields and/or wildlife openings (clearings maintained to attract
        wildlife).</p>

      <p>The habitat choice of adult turkeys results from their dependence upon plant material, primarily acorns, for
        food and their need to
        avoid predators. Turkeys are opportunistic feeders with diet varying by season. Seeds, grain, acorns, and
        insects constitute a large
        portion of the diet, although fiddler crabs and frogs are important food items in coastal areas. Mast-producing
        hardwoods are prime
        turkey habitat, but a mixture of understory plants is also important for food and cover. Through fall and
        winter, wild turkeys are
        generally found in hardwood stands where mast such as acorns and dogwood berries are available as forage.
        Turkeys feed heavily in late
        winter to accumulate reserves for the spring breeding season. In spring, turkeys seek out new leaves of grasses
        and sedges, with acorns
        and other hard mast also comprising much of the diet.</p>

      <p>Flocks of turkey are most commonly sighted in the ACE Basin during fall and winter months. The birds roost in
        trees at night and begin
        foraging at daylight. As spring approaches and daylight hours increase, the gobblers separate from the flock to
        set up mating territories.
        Courting begins in March and usually peaks in April, with completion of courting and mating by early July.
        During this time, the males
        consume little food and mainly devote time to gathering hens and mating. Turkeys are ground nesting birds. Hens
        that are mated set up
        nests that are usually placed at the foot of a tree or by a log. On barrier islands, the sides of grass-grown
        banks may be used for
        nesting. The nest is essentially a depression in the soil, lined with leaves and grass. The number of eggs
        varies from 8-15 with an
        incubation period of 28 days. Young turkeys (poults) are precocial; that is, they require little parental care
        after hatching. Poults
        are able to fly in 12-14 days and remain with the female for up to 6-8 months.</p>

      <p>Young turkeys feed largely on insects early in life. A high protein diet is essential for their first few
        months of life. Vegetation,
        fruits, seeds, and mushrooms are also favored foods of young turkeys. Water is a daily requirement,
        necessitating that poults be located
        within 0.4 kilometers (0.25 mi) of a water source. At 12-14 days of age, the brood and hen begin roosting in
        small trees. Other broods
        may join in to form a flock that forages along edge habitats of fields, logging roads, and regenerated areas.
        These summer flocks remain
        together into fall; however, adult gobblers travel singly or in small groups. Turkeys forage on the ground for
        seeds, nuts, acorns,
        fruits, insects, and other small invertebrates. At night they roost in trees and, during the winter, congregate
        in flocks that number
        40-50 individuals.</p>

    



    <h3>Species Significance</h3>

    <p>Wild turkeys are widely hunted for both food and sport. In South Carolina, the hunting season extends from March
      15 or April 1, depending
      on location, to May 1 in all counties. In spring 1997, the harvest totaled 13,984 turkeys, a tremendous increase
      from the 132 individuals
      taken in 1970. Such statistics reflect successful re-stocking and management practices in the state.</p>

    <p>Currently, the wild turkey is not an endangered species. However, the species was almost extinct throughout its
      range around 1900 due
      primarily to hunting and habitat loss. From 1951 to 1958, the South Carolina Department of Natural Resources
      carried out a live-trapping
      and transplanting program in an effort to replenish turkey populations in the piedmont and mountain portions of
      the state. In 1975, a
      program to restore turkey populations in the coastal plain was initiated. A number of restoration sites were
      selected based on location
      and habitat characteristics, and each was stocked with about 5 gobblers and 10 hens. Thanks to the establishment
      of such re-stocking
      programs and habitat improvement, turkeys are now common in most areas where they were once absent. Wild turkeys
      now occupy all 46
      counties in South Carolina, and populations are healthy.</p>





    <h3>References</h3>

    <p>Baily, R.W. and K. T. Rinell. 1967. Events in the turkey year, pp. 73-91. In: D.H. Hewitt, ed. The wild turkey
      and its management.
      The Wildlife Society, Washington, DC.</p>

    <p>Baumann, D. Not dated. Wild turkey in South Carolina. South Carolina Department of Natural Resources, Columbia,
      SC.</p>

    <p>Baumann, D. 1987. Bronze bird of the Southland. South Carolina Wildlife, 34(2): 6-10.</p>

    <p>Bull, J. L. and J. Farrand, Jr. 1995. National Audubon Society Field Guide to North American Birds. Eastern
      Region. The Audubon Society
      field guide series. Alfred A. Knopf Inc., New York, NY.</p>

    <p>David, J. 1977. The grandest of game birds. In J. Culler, ed. Carolina's Hunting Heritage. South Carolina
      Wildlife 24(2):4-9.</p>

    <p>Ehrlich, P. R., D. S. Dobkin, and D. Wheye. 1988. The birder's handbook: A field guide to the natural history of
      North American birds,
      including all species that regularly breed north of Mexico. Simon &amp; Schuster, New York, NY.</p>

    <p>National Geographic Society. 1987. Field guide to the birds of North America. Second edition. National Geographic
      Society, Washington, DC.</p>

    <p>Sprunt, A., Jr. and E. B. Chamberlain. 1970. South Carolina bird life. University of South Carolina Press,
      Columbia, SC.</p>






    </div>
</body>

</html>