<html>
<head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    
<div class="homecontainer">
    
    <div class="imageBackground">
        <img src="../images/homepagepic.jpg">
    </div>
    <div id="greyImage" class="imagecover">
        <img src="../images/grey.png">
    </div>
    <div class="navigation">
        <div class="text">
            <h1>SCDNR</h1>
            <h1>TURKEY</h1> 
            <h1>HUNTING</h1>
        </div>
    
    </div>
</div>
</script>
</body>
</html>

