<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <%- include('navigation.ejs', {}) %>
    
    <div class="homecontainer">
    
      <div class="imageBackground">
          <img src="../../images/chilesafe.jpeg">
      </div>
      <div id="greyImage" class="imagecover">
          <img src="../../images/grey.png">
      </div>
      <div class="navigation">
      </div>
   </div>
    
    <div class="app-container">
    
     

        <h1 class="under">Hunt S.A.F.E. to Prevent Firearm Accidents</h1>
        

        <p>Proper firearm  storage is the number one way to prevent firearm accidents.&nbsp; With this in mind SCDNR is working with Project ChildSafe to remind hunters this season that "The Hunt Isn't Over Until Firearms are S.A.F.E. and Secure."  </p>
    <p>S.A.F.E. stands for <strong>S</strong>ecure your firearms when not in use; Be <strong>A</strong>ware of those around you who should not have unauthorized access to firearms; <strong>F</strong>ocus on your responsibility as a firearm owner and <strong>E</strong>ducate yourself and others about safe firearm handling and storage. </p>
        <p>During hunting season, many firearms are in use and in transport, and we urge hunters to remember what they can do to prevent firearm accidents in the field, at the range, at home and everywhere in between. </p>
        <p>Along with  SC's hunter safety programs and resources on proper firearm storage and safety, Project ChildSafe has made several resources available, which can be found  on and the <a href="http://www.projectchildsafe.org/">Project ChildSafe website</a>, including:</p>
        
          <p><a href="http://www.projectchildsafe.org/mythquiz/">Quiz</a> asking "Do you know the Facts of Firearms Safety?" </p>
          <p><a href="http://www.projectchildsafe.org/misc/supporter_toolkit/hunting_safety_checklist.pdf">Checklist</a> on safe hunting for families </p>
          <p><a href="http://www.projectchildsafe.org/misc/supporter_toolkit/ethical_hunter.pdf">Ethical Hunter Brochure</a> by the National Shooting Sports Foundation (NSSF) </p>
          <p><a href="http://www.projectchildsafe.org/safety/safe-handling">Tips and Guidelines</a> on safe firearm handling </p>
          <p><a href="http://www.projectchildsafe.org/news/infographic-range-gun-storage-options-your-lifestyle">Infographic</a> on "Gun Storage For Your Lifestyle" </p>
          <p><a href="http://www.projectchildsafe.org/talking-to-kids"> Video</a> on "How To Talk To Your Kids About Gun Safety" </p>
          <p><a href="http://www.projectchildsafe.org/safety/find-a-safety-kit"> Information</a> on where to find and get a free firearm safety kit in your community </p>
        
        <p>We want to ensure that everyone gets to enjoy hunting season for future generations to come. Be sure to check out the resources listed above and share these with your friends and families, so we can all continue to have a safe hunting season.  </p>
        <p><br class="clearfloat">
        </p>
       
    <br>
        
  
      
    </div>
    <div class="boxes">
      <div class="sidebutton">
        <a href="/project3/hs/bow"><button><p>Bow Hunting</p></button></a>
      </div>
      <div class="sidebutton">
        <a href="/project3/hs/trapper"><button><p>Trapping</p></button></a>
      </div>
      <div class="sidebutton">
        <a href="/project3/hs"><button><p>Hunter Safety</p></button></a>
      </div>
    </div>
  </body>
</html>

