<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navigation.ejs', {}) %>

    <div class="homecontainer">
      <div class="imageBackground">
        <img src="../images/turkey_sunlight.jpeg" alt="Turkey in Sunlight" />
      </div>
      <div id="greyImage" class="imagecover">
        <img src="../images/grey.png" alt="Grey Background" />
      </div>
      <div class="navigation">
        <div class="text">
          <h1>Hunter Safety</h1>
        </div>
      </div>
    </div>
    <div class="boxes">
      <div class="sidebutton">
        <a href="/project3/hs/bow"><button><p>Bow Hunting</p></button></a>
      </div>
      <div class="sidebutton">
        <a href="/project3/hs/trapper"><button><p>Trapping</p></button></a>
      </div>
      <div class="sidebutton">
        <a href="/project3/hs/safe"><button><p>HuntSAFE</p></button></a>
      </div>
    </div>

    <div class="app-container">
      <h1></h1>

      <p>
        The South Carolina Department of Natural Resources Hunter Education
        Program is dedicated to the safe enjoyment of our outdoors. Through this
        program, students learn about responsibility and ethics in the field, as
        well as firearms safety.
      </p>
      <h2>Who needs a Hunter Education Card?</h2>
      <p>
        All residents and nonresidents born after June 30, 1979, must complete a
        hunter education course before a hunting license can be obtained.
      </p>
      <p>
        SCDNR accepts hunter education certifications issued by other states in
        the United States and Canadian provinces. If you have a certification
        from another state, your certification meets the hunter education
        requirement in SC. If you have a question about your certification,
        please contact the Hunter Education Office at 1-800-277-4301.
      </p>
      <img src="../images/wild_turkey.jpeg" alt="Wild Turkey" />
      <h2>Which Hunter Education Course is right for you?</h2>
      <p>SCDNR offers two (2) options to take the Hunter Education Course.</p>

      <h3>1. Instructor-led Classes</h3>

      <p>
        The preferred Hunter Education method is through a
        <strong>free</strong> eight (8) hour instructor-led classroom course.
        Classes maybe offered in a one day class or split over two nights. All
        classes end with a <strong>Test</strong> to pass the course. <br />
        <a href="https://www.register-ed.com/programs/42?">Class calendar.</a>
      </p>
      <p>
        The South Carolina Hunter Education Class is recommended for motivated
        students 12 years of age and older with good reading and comprehension
        skills who have some firearm and hunting knowledge or experience. Course
        materials are on a 6th-grade reading level. While we do not discourage
        any age from attending the class, only children age 10 and older may
        take the final exam.
      </p>

      <h3>2. Online Self-Study Course</h3>
      <p>
        The third-party vendor (Hunter-Ed.com) who provides this online course
        charges $29.95 to take the course.
        <strong
          >After completing the course by passing and paying the course fee, you
          may instantly print out your South Carolina Temporary Hunter Education
          Certificate, which is valid for 30 days</strong
        >. You should receive your permanent certificate by mail in 2-3 weeks
      </p>

      <p>
        Hunter-Ed offers daily (including weekend) live customer service via
        email or telephone with a toll-free number.
        <strong
          >Today's Hunter online course is the only approved internet course for
          South Carolina.</strong
        >
      </p>
      <p>
        <strong
          >You must be a resident of South Carolina and at least 12 years old to
          take this online course.
        </strong>
      </p>

      <p>
        <strong
          >3 Steps to complete
          <a href="https://www.hunter-ed.com/southcarolina/"
            >Today's Hunter Online</a
          >
          Course</strong
        >
      </p>
      <ol>
        <p>
          Take the above approved internet course<br />
          <br />
        </p>
        <p>
          Successfully complete the online exam at the end of this course.
          <br />
          <strong
            >Note: You will not be able to print your temporary hunter education
            certificate unless you successfully pass the online test.</strong
          ><br />
          <br />
        </p>
        <p>
          Print your South Carolina Temporary Hunter Education Certificate,
          which is valid for 30 days. You should receive your permanent
          certificate by mail in 2-3 weeks.
        </p>
      </ol>
    </div>
  </body>
</html>
