<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navigation.ejs', {}) %>

    <div class="homecontainer">
    
      <div class="imageBackground">
          <img src="../images/turkey_haul.jpeg">
      </div>
      <div id="greyImage" class="imagecover">
          <img src="../images/grey.png">
      </div>
      <div class="navigation">
          <div class="text">
              <h1>Huntin'</h1>
            
          </div>
      
      </div>
   </div>

    <div class="app-container">
      <div class="fourbuttons">
        <div class="fourButtonsRow">
        <div class="fourbuttonbutton">
          <a href="/project3/hunting/wra"><button class="fourbuttonbuttonbutton"><h4>WRA</h4></button></a>
        </div>
        <div class="fourbuttonbutton">
          <a href="/project3/hunting/regulations"><button class="fourbuttonbuttonbutton"><h4>Regulations</h4></button></a>
          
        </div>
      
        </div>
        <div class="fourButtonsRow">
          <div class="fourbuttonbutton">
            <a href="/project3/social"><button class="fourbuttonbuttonbutton"><h4>Social</h4></button></a>
            
          </div>
       
        <div class="fourbuttonbutton">
          <a href="/project3/hunting/turkeyregulations"><button class="fourbuttonbuttonbutton"><h4>Turkey Regulations</h4></button></a>
          
        </div>
        </div>
      </div>
     
      </div>
  </body>
</html>
