<div class="header">
    <div class="menu-elements">
        <div class="menudiv">
            <a href="/project3/"><button><p>Home</p></button></a>
        </div>
        <div class="menudiv">
            <a href="/project3/news"><button><p>News</p></button></a>
        </div>
        <div class="menudiv">
            <a href="/project3/hs"><button><p>Hunter Safety</p></button></a>
        </div>
        <div class="menudiv">
            <a href="/project3/hunting"><button><p>Huntin'</p></button></a>
        </div>
        <div class="menudiv">
            <a href="/project3/education"><button><p>Education</p></button></a>
        </div>
    </div>
</div>