<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navigation.ejs', {}) %>

    <div class="homecontainer">
    
      <div class="imageBackground">
          <img src="../images/turkey_proud.jpeg">
      </div>
      <div id="greyImage" class="imagecover">
          <img src="../images/grey.png">
      </div>
      <div class="navigation">
          <div class="text">
              <h1>News</h1>
            
          </div>
      
      </div>
   </div>

    <div class="app-container">
      <div class="fourbuttons">
        <div class="fourButtonsRow">
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/2023TurkeyHarvest.html><button class="fourbuttonbuttonbutton newsButton"><h4>Turkey Harvest 2023</h4></button></a>


          </div>
          <div class="fourbuttonbutton">    <a href=https://www.dnr.sc.gov/wildlife/turkey/2022TurkeyHarvest.html><button class="fourbuttonbuttonbutton newsButton"><h4>Turkey Harvest 2022</h4></button></a>


          </div>
        </div>
        <div class="fourButtonsRow">
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/2023BroodSurvey.html><button class="fourbuttonbuttonbutton newsButton"><h4>Brood Survey 2023</h4></button></a>


          </div>
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/2022BroodSurvey.html><button class="fourbuttonbuttonbutton newsButton"><h4>Brood Survey 2022</h4></button></a>

          </div>
        </div>
        <div class="fourButtonsRow">
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/publications/pdf/turkey.pdf><button class="fourbuttonbuttonbutton newsButton"><h4>Turkey</h4></button></a>


          </div>
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/pdf/2023TurkeyPublicMeetingsSurveyReport.pdf><button class="fourbuttonbuttonbutton newsButton"><h4>Public Meetings Report 2023</h4></button></a>


          </div>
        </div>
        <div class="fourButtonsRow">
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/pdf/2018SCDNRTurkeyReporttoGeneralAssembly.pdf><button class="fourbuttonbuttonbutton newsButton"><h4>Report to General Assembly 2018</h4></button></a>


          </div>
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/pdf/2020WildTurkeyLegislativeReport.pdf><button class="fourbuttonbuttonbutton newsButton"><h4>Wild Turkey Legislative Report 2020</h4></button></a>


          </div>
        </div>
        <div class="fourButtonsRow">
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/pdf/2021WildTurkeyLegislativeReport.pdf><button class="fourbuttonbuttonbutton newsButton"><h4>Wild Turkey Legislative Report 2021</h4></button></a>


          </div>
          <!-- <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/pdf/2022WildTurkeyLegislativeReport.pdf><button class="fourbuttonbuttonbutton newsButton"><h4>2022WildTurkeyLegislativeReport.pdf</h4></button></a>


          </div> -->
          <div class="fourbuttonbutton">
            <a href=https://www.dnr.sc.gov/wildlife/turkey/pdf/2023WildTurkeyLegislativeReport.pdf><button class="fourbuttonbuttonbutton newsButton"><h4>Wild Turkey Legislative Report 2023</h4></button></a>
          </div>

        </div>
        <div class="fourButtonsRow">
               
        
        </div>
      </div>
    </div>
  </body>
</html>
