<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navigation.ejs', {}) %>

    <div class="homecontainer">
    
      <div class="imageBackground">
          <img src="../../images/shotgun.jpeg">
      </div>
      <div id="greyImage" class="imagecover">
          <img src="../../images/grey.png">
      </div>
      <div class="navigation">
          <div class="text">
              <h1>Regulations</h1>
            
          </div>
      
      </div>
   </div>

    <div class="app-container">
      <h2>General Information on Hunting</h2>
      <p>
        “Hunting” means the act of trying to find, seek, obtain, pursue or
        diligently search for wildlife with the means and intent to take or
        attempt to take such wildlife.
      </p>
      <p>
        <strong
          >Regulations in this section apply to both private and public lands
          statewide, unless otherwise specified.</strong
        >
      </p>
      <h3>Licenses &amp; Permits</h3>
      <p>
        Licenses and permits are required for hunting in South Carolina.
        Detailed information on types of licenses and permits is located on
        <a
          href="https://www.eregulations.com/southcarolina/fishing/licenses-recreational-hunting-fishing"
          >Licenses Recreational Hunting &amp; Fishing</a
        >. All residents and nonresidents born after June 30, 1979 must
        successfully complete a hunter education course that is approved by
        SCDNR before a hunting license can be obtained. For exceptions, see
        <a
          href="https://www.eregulations.com/southcarolina/fishing/licenses-recreational-hunting-fishing"
          >Licenses Recreational Hunting &amp; Fishing</a
        >.
      </p>
      <h3>Game Zones &amp; WMAs</h3>
      <p>
        South Carolina is divided into four game zones, as defined on the maps
        in
        <a
          href="https://www.eregulations.com/southcarolina/hunting/deer-seasons-on-private-lands"
          >Deer Seasons on Private Lands</a
        >.
      </p>
      <p>
        SCDNR sets and regulates the methods of harvest, bag limits and other
        requirements for hunting on Wildlife Management Areas (WMA) statewide.
      </p>
      <p>
        The SC General Assembly establishes seasons, limits and methods for
        private land statewide. SCDNR is responsible for law enforcement
        statewide.
      </p>
      <h3>Protected Game</h3>
      <p>
        The following species may be hunted ONLY during legally established
        seasons: bear, beaver, bobcat, deer, fox, mink, muskrat, opossum, otter,
        rabbit, raccoon, skunk, squirrel, weasel, waterfowl (goose, brant and
        duck), bobwhite quail, mourning dove, rails (marsh hen), coot,
        gallinule, ruffed grouse, crow, wild turkey, common snipe and woodcock.
      </p>
      <h3>Protected Nongame</h3>
      <p>
        The following species are protected and may not be hunted, molested,
        caught, transported, sold or possessed in any manner without a permit:
        any species appearing on the state list of non-game and endangered
        species (R 123-150), birds of prey (eagles, hawks, osprey, owls, kites,
        and vultures) and non-game birds (except English sparrows, pigeons,
        Eurasian collard doves and starlings). Falconers must possess a SCDNR
        permit.
      </p>

      <h3>Importation &amp; Possession</h3>
      <p>
        It is unlawful to import, possess or transport for the purpose of
        release, or to introduce or bring into this state any live wildlife of
        the following types without a permit from SCDNR: a member of the family
        Cervidae (deer, moose, elk, etc.), bear, turkey, furbearers (this
        includes badger, beaver, bobcat, Canada lynx, coyote, fisher, any foxes,
        marten, mink, muskrat, nutria, opossum, any otter, raccoon, ringtail,
        any skunk, weasels, or wolves), a nondomestic member of the families
        Suidae or Tayassuidae (pigs), or Bovidae (bison, antelope, mountain
        goat, mountain sheep) (50-16-20). The importation or possession of live
        alligators is illegal without a permit from the Department (50-15-390).
      </p>
      <p>
        The importation or sale of live wolves is prohibited in South Carolina,
        except for exhibition or scientific purposes upon the approval of SCDNR
        as provided by regulations (50-11-1765). It is unlawful to import
        coyotes. The possession and sale of live foxes and coyotes is restricted
        by law (50-11-2630). A person may not have a live wolf in his possession
        without a SCDNR permit. Federal law prohibits importing, exporting,
        selling, buying, receiving or acquiring big cats across state lines. For
        information and exceptions, contact the US Fish and Wildlife Service
        Southeast Region, 1875 Century Blvd., Atlanta, GA 30345.
        <strong
          >Prohibition of Sale, Purchase, Donation, or Transfer of Ownership
          Wildlife as Pets</strong
        >
        - The Department of Health and Environmental Control’s (DHEC) Rabies
        Control Act (47-5-50) prohibits the sale, purchase, donation, or
        transfer of ownership of nondomesticated carnivores (raccoons, foxes,
        skunks, bobcats, coyotes, wolves, wolf dogs, weasels, civet cats,
        spotted skunks, and lynx or the offspring born to any combinations of
        crossbreeding (hybrids) between these wild animals and domestic dogs or
        cats) to private individuals in this State. Requests for importing
        furbearing animals for private possession violate the spirit of the
        Rabies Control Act and will be denied.
      </p>
      <p>
        <strong>Note: </strong>SCDNR does not advocate or encourage keeping
        wildlife in captivity.
      </p>
      <h2>Equipment &amp; Methods</h2>
      <h3>Archery</h3>
      <p>
        Archery means a longbow, recurve bow, compound bow or crossbow
        (50-11-565). There are no restrictions on draw weight/length, arrow
        weight/length, or broad head weight, width, or style.
      </p>
      <h3>Crossbows</h3>
      <p>
        Crossbows may be used on private lands and WMA lands statewide during
        all archery, muzzleloader or gun seasons for deer, bear and turkey.
      </p>
      <h3>Primitive Weapons</h3>
      <p>
        For special primitive weapons seasons, primitive weapons include bow and
        arrow, crossbows and muzzleloading shotguns of twenty gauge or larger,
        and rifles of .36 caliber or larger with open or peep sights or scopes,
        which use black powder or a black powder substitute that does not
        contain nitrocellulose or nitro-glycerin components as the propellant
        charge. There are no restrictions on ignition systems including
        flintstone, percussion cap, shotgun primer, disk, or electronic. During
        primitive weapons season, no revolving rifles are permitted (50-11-310).
        Falconry Allowed.
      </p>
      <h3>Pneumatic Weapons</h3>
      <p>
        Pneumatic weapons including those that shoot arrows may be used on
        private and WMA Lands statewide during firearms seasons only. On WMAs
        restrictions found in WMA Regulation 3.1 and 3.3 apply to pneumatic
        weapons.
      </p>
    </div>
  </body>
</html>
