<html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('navigation.ejs', {}) %>

    <div class="homecontainer">
    
      <div class="imageBackground">
          <img src="../../images/turkey_shooting.jpeg">
      </div>
      <div id="greyImage" class="imagecover">
          <img src="../../images/grey.png">
      </div>
      <div class="navigation">
          <div class="text">
              <h1>Turkey Regulations</h1>
            
          </div>
      
      </div>
   </div>

    <div class="app-container">

            <h3>Seasons &amp; Limits — Spring 2024</h3>
            
              <p>
                <strong>Private lands Game Zone 1 and 2: </strong>April 1 - May
                10
              </p>
              <p>
                <strong>Private lands Game Zone 3 and 4: </strong>March 22 -
                April 30
              </p>
              <p>
                <strong>WMA lands statewide: </strong>April 1 – April 30
                
                  <p >
                    Some WMAs may be more restrictive, see
                    <a
                      href="https://www.eregulations.com/southcarolina/hunting/spring-turkey-seasons-on-wm-as"
                      data-google-interstitial="false"
                      >Spring Turkey Seasons on WMAs</a
                    >
                    for specified hunt dates.
                  </p>
                
              </p>
              <p>
                <strong>Limit statewide private and WMA lands: </strong>
                
                  <p >
                    <strong>Residents:</strong> 3 gobblers per season, no more
                    than one per day, no more than one (1) from April 1-10 on
                    private land and WMAs in Game Zones 1 &amp; 2. No more than
                    one (1) from March 22-31 on private land in Game Zone 3
                    &amp; 4.
                  </p>
                  <p >
                    <strong>Nonresidents:</strong> 2 gobblers per season, no
                    more than one per day, no more than one (1) from April 1-10
                    on private land and WMAs in Game Zones 1 &amp; 2. No more
                    than one (1) from March 22-31 on private land in Game Zone 3
                    &amp; 4.
                  </p>
                  <p >
                    Some WMAs may be more restrictive, see
                    <a
                      href="https://www.eregulations.com/southcarolina/hunting/spring-turkey-seasons-on-wm-as"
                      data-google-interstitial="false"
                      >Spring Turkey Seasons on WMAs</a
                    >
                    for specified limits
                  </p>
                
              </p>
            
            <h3>Statewide Youth Hunting Weekend on Private Lands</h3>
            <h4>
              For youths 17 years old and younger. Game Zones 1 and 2 March
              30-31, Game Zones 3 and 4 March 16-17.
            </h4>
            <p>
              Youth hunters who have not completed the hunter education program
              must be accompanied by an adult at least 21 years of age. No
              license or tags required for youth or adult on these designated
              youth days. Adult may call or guide, however, only the youth may
              take or attempt to take. Limit one (1) gobbler total for the
              weekend which counts towards the season limit.
            </p>
            <h3>
              General Turkey Hunting Laws and Regulations for Hunting on Private
              &amp; WMA Lands
            </h3>
            
              <p>
                Sunday hunting allowed on private lands (SC 50-11-555). No
                Sunday hunting allowed on WMA land (Reg. 123-51).
              </p>
              <p>
                Statewide limit of 3 gobblers for residents and 2 for
                nonresidents, no more than 1 per day (SC Code 50-11-580).
                Bearded hens are not legal.
              </p>
              <p>
                All hunters, including hunters younger than 16 or those who are
                calling or guiding must possess a valid set of turkey tags
                except on designated youth days. Except on designated youth
                days, all harvested turkeys must be tagged and validated as
                prescribed on the tag form before being moved from the point of
                kill. No person may possess more than one set of turkey tags (SC
                50-11-544).
              </p>
              <p>
                Hunters who have used all their tags may call or guide for other
                hunters provided they possess their tag form.
              </p>
              <p>
                Legal weapons - shotguns, muzzleloading shotguns, bows and
                crossbows. All other weapons or methods are prohibited including
                rifles, pistols, slugs, and buckshot (SC 50-11-500, Reg.
                123-51).
              </p>
              <p>
                Turkeys may not be hunted with dogs, live decoys or electronic
                calls (SC 50-11-40, Reg. 123-51).
              </p>
              <p>
                Unlawful to shoot any turkey between 30 minutes after official
                sunset and 30 minutes before official sunrise. Unlawful to take
                or attempt to take a wild turkey from a vehicle on a public
                road. Unlawful to trap or snare a wild turkey. Unlawful to take
                wild turkey from a watercraft (SC 50-11-500).
              </p>
              <p>
                Unlawful to hunt or take a wild turkey by means of bait or on or
                over any baited area (SC 50-11-510). Bait means placing,
                depositing, exposing, distributing, or scattering of salt, corn,
                wheat, or other grain, or foodstuffs to constitute a lure or
                attraction for wild turkeys. An area remains a baited area for
                ten days following the complete removal of all bait. NOTE: The
                following activities can result in a baited area if done prior
                to or during turkey season: planting, discing or manipulating
                chufa to expose the tubers; mowing or manipulating standing
                grain crops where grain is scattered or exposed; top sowing of
                any grains; bait or feed intended for other species.
              </p>
              <p>
                On WMA lands the practice of fanning or reaping is prohibited.
                Fanning/reaping is defined as hunting or stalking wild turkeys
                while <strong>holding or using for hunter</strong> concealment
                any of the following items: a tail fan, a partial or full decoy
                with a tail fan, or a tail fan mounted to a firearm. Tail fans
                include those made of real or synthetic feathers or an image or
                likeness of a tail fan applied to any material (Reg. 123-51).
                This regulation does not apply on private land.
              </p>
            
            <h3>Turkey Tags</h3>
            <p>
              TURKEY TAGS ARE NO LONGER FREE. In addition to the required
              hunting license and Big Game Permit, all turkey hunters, including
              youth, are required to have turkey tags in possession while
              hunting except on the designated youth days. The fee for a SC
              resident is <strong>$5</strong> per set of three (3) tags and for
              a nonresident <strong>$100</strong> per set of two (2) tags. Youth
              hunters and 3-year Disability Licensees receive tags for free but
              must request them annually. Lifetime/Senior/Gratis/Disability
              Licensees receive tags for free annually after requesting them one
              time. Tags may be purchased online or at license vendors and will
              be mailed beginning in mid-February. Tags will also be available
              over the counter at SCDNR regional offices starting in late
              February. Fees associated with turkey tags are dedicated to turkey
              research, management, and enforcement. Prior to the fee on tags,
              there was no dedicated source of funding for SCDNR’s Wild Turkey
              Program.
            </p>
            <p>
              <strong>Need turkey tags now?</strong> See
              <a
                href="https://www.eregulations.com/southcarolina/hunting/deer-tag-information"
                data-google-interstitial="false"
                >Deer Tag Information</a
              >
              for how you can download and print a set of temporary tags if you
              recently requested your tags.
            </p>
          </div>
        
              <h4 
                >You Must Report Your Turkey Harvest</h4
              >
            </p>
            <p>
              Turkey hunters will receive additional details and complete
              instructions on harvest reporting and SC Game Check with their
              turkey tags. Full details and instructions will also be available
              on the SCDNR website.
            </p>
            <p>
              The <strong>Go Outdoors SC</strong> smartphone app will allow you
              to report a harvested turkey with or without cell phone service.
              iPhone and Android users can download the free app on your mobile
              device through the Apple or Google Play Store.
            </p>
           
      \
        
       
    </div>
  </body>
</html>
