   <html>
  <head>
    <title>🫡</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>

    <%- include('navigation.ejs', {}) %>

    <div class="homecontainer">
    
      <div class="imageBackground">
          <img src="../../images/turkey_fight.jpeg">
      </div>
      <div id="greyImage" class="imagecover">
          <img src="../../images/grey.png">
      </div>
      <div class="navigation">
          <div class="text">
              <h1>WRA</h1>
            
          </div>
      
      </div>
   </div>
    
    <div class="app-container">
      
    <h1>The Federal Aid in Wildlife Restoration Act</h1>
    
   
     
      <p>Did you know that your purchases of firearms, ammunition<br>
        and archery equipment make big contributions to wildlife<br>
        management in South Carolina?</p>
      <p>The Pittman-Robertson Wildlife Restoration Act, passed by Congress in 1937, created excise taxes on hunting<br>
        &amp; shooting equipment and ammunition that funds grant programs for state fish and wildlife departments for on<br>
        the ground wildlife conservation. Since 1939, South Carolina has received $140 million for wildlife and habitat<br>
        management and restoration, research, surveys and land acquisition.</p>
      
    <h2>More information on Wildlife Restoration</h2>
      <p> Funds are collected annually by the US Department of Treasury and apportioned to each state by the US Department of Interior </p>
      <p> The apportionment for each state is determined by formulas that look at the number of licenses sold, area of total land and water area </p>
      <p> Each state must provide a match of 25% of the project costs from a non-federal source.   The most common match for these funds are fees generated through the sale of your hunting and fishing licenses </p>
    
  


     
        <h2>Resouces</h2>
        <p><a href="https://www.fws.gov/program/wildlife-and-sport-fish-restoration#:~:text=The%20Wildlife%20and%20Sport%20Fish,recreational%20opportunities%20for%20fishing%2C%20hunting%2C">Wildlife and Sport Fish Restoration Program</a></p>
        <p><a href="https://tracs.fws.gov/wildlifeRestorationAndHunterEducationApportionments.html">Wildlife Restoration and Hunter Education QuickSight</a></p>
        <p><a href="https://tracs.fws.gov/sportFishRestorationApportionments.html">Sport Fish Restoration QuickSight</a></p>

    
    <h2>History of Wildlife Restoration Act</h2>
    
      <p><strong>If you have ever purchased a firearm, ammunition, archery bow and arrows,  or hunting license… you have contributed to the most successful effort to conserve  wildlife in the world.</strong></p>
      <p>The Federal Aid in Wildlife Restoration Act is also known as the Pittman-Robertson (or "P-R") Act after its principal sponsors, Senator Key Pittman of Nevada, and Representative A. Willis Robertson of Virginia. The measure was signed into law by President Franklin D. Roosevelt on September 2, 1937. The act was widely supported by sportsmen, when they essentially encouraged taxing themselves while the country remained mired in a depression. It was seen as a badly needed method to boost sagging or nonexistent conservation efforts. Today’s successful restoration work for ducks, deer, turkeys and numerous other wildlife species can trace its roots to Pittman-Robertson.</p>
      <p>The act generates funds from an 11 percent excise tax on sporting arms and ammunition that is collected at the manufacturers’ level. Funds are appropriated to the Secretary of the Interior and then apportioned to States using a two-pronged formula: 50 percent is based on a state’s geographic size and 50 percent is based on the number of hunting  licenses sold annually. Generally, when a wildlife project is funded with matching funds, the cost split is 75 percent federal and 25 percent state. Project activities include acquisition and improvement of wildlife habitat, introduction of wildlife into suitable habitat, research into wildlife problems, surveys and inventories of wildlife populations, acquisition and development of access facilities for public use, and hunter education programs, including construction and operation of public target ranges. The act has been amended and expanded many times and has generated more than $8 billion in federal funds, which states have matched.</p>
      <p>South Carolina's first major acquisition utilizing these funds was the March 11, 1941 purchase of Belmont Plantation which was later renamed the James W. Webb Wildlife Center and Management Area. Since that time the department has used these funds to purchase numerous other properties, restored multiple wildlife species, managed hundreds of thousands of acres of habitat and conducted critical research and survey work around the state.</p>
    
  </div>
 
  <!-- This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats -->

  <!-- end #container -->
</div>
  </body>
</html>